@import url('https://.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    max-width: 1320px;
    padding-left: 12px;
    padding-right: 12px;
    margin: auto;
    margin-right: auto;

}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.events {
    color: #2C49FE;
    font-family: ' Poppins' sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 135%;
}

.free {
    color: #01C8FF;
    font-family: 'Poppins' sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 135%;
}

.button {
    display: inline-flex;
    padding: 11px 28px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 23px;
    background: #2C49FE;
    color: #FFFFFF;
    border: none;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-item-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.gap-64 {
    gap: 64px;
}

.py-17 {
    padding-top: 17px;
    padding-bottom: 17px;
}

.home1 {
    color: #FFF;
    font-family: 'Poppins' sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.ff-poppins {
    font-family: 'poppins', sans-serif;
}

.pt-130 {
    padding-top: 130px;
}

.tittle {
    color: #FFF;
    font-family: 'Poppins',sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;

}

/* .fs-400 {
    font-weight: 400;
} */

.bg {
    background: url(../images/background.png);
}

.text-white {
    color: #FFF;
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.home {
    color: #FFF;
}

.pb-50 {
    padding-bottom: 50px;
}

.choose {
    color: #000;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.pt-76 {
    padding-top: 76px;
}

.para {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.date {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    width: 88px;
    height: 24px;
    top: 356px;
    left: 75px;
    opacity: 0.6000000238418579px;
}

.col-4 {
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.card-2 {
    width: 424px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    background: #FFF;
    height: 567px;
}



.pt-35 {
    padding-top: 35px;
}

.pb-155 {
    padding-bottom: 155px;
}

.pl-43 {
    padding-left: 43px;
}

.btn-2 {
    display: inline-flex;
    padding: 11px 28px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 23px;
    background: #2C49FE;
    color: #FFFFFF;
    border: none;
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}

.gap-25 {
    gap: 25px;
}

.border-radius {
    border-radius: 20px;
}

.ml-300 {
    margin-left: 300px;
}

.pb-25 {
    padding-bottom: 25px;
}

.pl-43 {
    padding-left: 43px;
}

.pt-155 {
    padding-top: 155px;
}

.pt-80 {
    padding-top: 80px;
}

.pb-33 {
    padding-bottom: 33px;
}

.bg-black {
    background-color: black;
}

.text-white {
    color: white;
}

.pb-22 {
    padding-bottom: 22px;
}

.ff-poppins {
    font-family: 'poppins', sans-serif;
}

.text-center {
    text-align: center;
}


.text-blue {
    color: blue;
}

.text-sky {
    color: #01C8FF;

}

.display-inline {
    display: inline-block;
}

.col-8 {
    width: 66.66%;
    padding-right: 12px;
    padding-left: 12px;
}

.pl-300 {
    padding-left: 300px;
}

.pt-90 {
    padding-top: 90px;
}

.footer-para {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: normal;
    color: #FFFFFF;
    width: 346px;
}

.d-flex {
    display: flex;
}

.pt-24 {
    padding-top: 24px;
}



.pt-12 {
    padding-top: 12px;
}

.col-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}

.coltext {
    font-family: 'Poppins',sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF
}

.col-4-4 {
    width: 23.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.showmore {
    color: #FFF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    width: 43px;

}

.pr-15 {
    padding-right: 15px;
}

.lastline {
    font-family: 'Poppins',sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    justify-content: center;
    display: flex;
    padding-top: 110px;
    padding-bottom: 20px;

}

.pt-80 {
    padding-top: 80
}

.pt-44 {
    padding-top: 44px;
}

.lastbox {
    width: 90px;
    height: 62px;
    flex-shrink: 0;
    background: rgba(45, 60, 174, 0.53);
    color: #2D3CAE;
}

.pt-13 {
    padding-top: 13px;
}

.pl-18 {
    padding: 18px;
}

.pos-relative {
    position: relative;
    overflow: hidden;
}

.pos-absolute {
    position: absolute;
    top: 45%;
    right: 45%;
}

.pt-118 {
    padding-top: 118px;
}

.col-3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
}

.bg-black {
    background-color: #000;
}

.min-100vh {
    min-height: 100vh;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-17 {
    padding-bottom: 17px;
}

.pb-32 {
    padding-bottom: 32px;
}

.mb-25 {
    margin-bottom: 25px;
}

.google {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.text-white {
    color: #FFF;
}

.font {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.col-12 {
    width: 60%;
    padding-left: 12px;
    padding-right: 12px;
}

@media (min-width:768px) {
    .col-md-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;

    }

}

@media(max-width:992px) {
    label[for="menubar"] {
        display: flex;
        width: 30px;
        height: 25px;
        flex-direction: column;
        /* position: relative; */
        z-index: 3;
        cursor: pointer;
        justify-content: space-between;
    }

    label[for="menubar"]>span {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        /* position: relative; */
        width: 5px;
        height: 100%;
        z-index: 2;
        cursor: pointer;
    }

    label[for="menubar"]>span {
        width: 100%;
        height: 2px;
        background-color: #f6e9e9;
        border-radius: 5px;

    }

    .z-index {
        z-index: 1;
    }

    .mobile-veiw {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: #1b1f20;
        flex-direction: column;
        z-index: 2;
        transition: all 200ms linear;
    }

    input[type="checkbox"][id="menubar"]:checked+ul.mobile-veiw {
        left: 0;
        pointer-events: all;
        opacity: 1;
    }
}

@media (min-width:576px) {
    .col-lg-3 {
        width: 25%;
        padding-left: 12px;
        padding-right: 12px;
    }


}

@media (min-width:992px) {
    .col-lg-4 {
        width: 33.33%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-lg-8 {
        width: 66.66%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-lg-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

}